<!-- <div class="container-fluid container-fluid-custom">
  <h1>About</h1>
</div> -->

<div class="container-fluid container-fluid-custom containerAbout">
  <!-- <img class="profile-image" src="../public/img/2.png" alt="Kaushik's Photo" /> -->
  <p class="intro">
    Hi, I am Kaushik, a software engineer from India. With a passion for
    innovation and a foundation in programming languages and different
    frameworks. With curiosity and expertise in designing and implementing
    various systems, I am able to help organizations optimize their
    technology/software, improve efficiency, and achieve their goals.
  </p>
  <div class="links">
    <a class="link" href="https://github.com/Kaushik-FSD" target="_blank"
      >GitHub</a
    >
    <a
      class="link"
      href="https://www.linkedin.com/in/mandal-kaushik/"
      target="_blank"
      >LinkedIn</a
    >
    <a
      class="link"
      href="https://rockstarkaushik100.wixsite.com/kaushikmandal"
      target="_blank"
      >Personal Website</a
    >
  </div>
</div>
